
*.vsidx
*.ipch
*.tlog
*.obj
*.recipe
.vs/ACREngineV3.0/FileContentIndex/adb2b820-6cf3-4ca1-a1a5-ef4239ffa11f.vsidx
*.vsidx
*.db
*.ipch
*.ilk
*.log
*.idb
*.pdb
*.exe
*.pdb
*.obj
*.log
*.tlog
*.obj
*.obj
*.iobj
*.ipdb
*.ipdb
*.ipdb
*.iobj
