
*.pdb
*.obj
*.idb
*.tlog
*.log
*.ilk
*.ipdb
*.iobj
*.recipe
*.db
*.db
*.db
*.db
*.db-shm
*.ipch
*.db
.vs/ACREngineV3.0/v16/.suo
.vs/ACREngineV3.0/v16/Browse.VC.db
.vs/ACREngineV3.0/v16/ipch/AutoPCH/34c33bd3377017a4/DORKV4.ipch
.vs/ACREngineV3.0/v16/ipch/AutoPCH/8ee2f5f4d685a29c/SCREEN.ipch
.vs/ACREngineV3.0/v16/ipch/AutoPCH/8ee300f4d685b54d/SCREEN.ipch
.vs/ACREngineV3.0/v16/Solution.VC.db
